<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Peeps</title>
</head>
<body>
<ul>
    {{range .}}
    <li>{{.}}</li>
    {{end}}
    <!-- the output of range become the input of above line -->
</ul>
</body>
</html>
